.productsList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
    height: 450px;
}
.filter-pruodcts{
    
    display: flex ;
  justify-content: center;
    flex-wrap: wrap ;
    gap: 20px;
    margin-top: 50px;
    background-color: rgb(199, 181, 146);
    padding: 20px;
    
    
}
